.idea
/Server/Server/__pycache__
*.pyc
/Server/web/*.pyc
/Server/web/migrations/__init__.pyc
/Server/web/migrations/__pycache__
/Server/web/__pycache__
/TakePhotos/images/
/uploadImage/venv
/uploadImage/imagespa20120502330.jpg
/uploadImage/images
/TakePhotos/.DS_Store
/Server/web/migrations
/*.DS_Store
/Server/web/model/_trained_COCO/pose_iter_440000.caffemodel
/Server/poseEstimation
*.jpg
*.jpeg
/uploadImage/*.jpeg
/Server/static/resultImages
